package ${packageName};

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

/**
 *
 * @author armando
 */
public class ${className} {

    @NotNull
    @Size(min = 1, max = 16, message = "{login.form.username.validation.required}")
    private String username;
    
    @NotNull
    @Size(min = 1, max = 25, message = "{login.form.password.validation.required}")
    private String password;

    public String getUsername() {
        return username;
    }

    public void setUsername(String username) {
        this.username = username;
    }

    public String getPassword() {
        return password;
    }

    public void setPassword(String password) {
        this.password = password;
    }

}
