/*
 * COPYRIGHT. Mesofi ${year}. ALL RIGHTS RESERVED.
 *
 * This software is only to be used for the purpose for which it has been
 * provided. No part of it is to be reproduced, disassembled, transmitted,
 * stored in a retrieval system nor translated in any human or computer
 * language in any way or for any other purposes whatsoever without the
 * prior written consent of Mesofi.
 */
package ${packageName}.catalogs.${moduleName}.service;

import java.util.List;

import ${packageName}.catalogs.${moduleName}.vo.${classNameVo};

/**
 * Manage the business logic for this application.
 * 
 * @author Mesofi
 * @since $date
 */
public interface $className {
    
    public void saveChanges(${classNameVo} ${classNameVo.substring(0,1).toLowerCase()}${classNameVo.substring(1)}, boolean isNewRecord);
    
    public List<${classNameVo}> getData();
    
    public List<${classNameVo}> getData(${classNameVo} ${classNameSearch.substring(0,1).toLowerCase()}${classNameSearch.substring(1)});
    
}