<?xml version='1.0' encoding='UTF-8'?>
<faces-config version="2.2"
              xmlns="http://xmlns.jcp.org/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-facesconfig_2_2.xsd">

    <!-- Defines the location for the messages in the application -->   
    <application>
        <locale-config>
            <default-locale>en</default-locale>
            <supported-locale>es</supported-locale>
        </locale-config>
        <resource-bundle>
            <base-name>${packageName}.i18n.messages</base-name>
            <var>msg</var>
        </resource-bundle>
        <resource-bundle>
            <base-name>${packageName}.config.view-config</base-name>
            <var>cnf</var>
        </resource-bundle>
    </application>
     
    <!-- Configuration of navigation rules -->
    <navigation-rule>
        <from-view-id>/index.xhtml</from-view-id>
        <navigation-case>
            <from-outcome>success</from-outcome>
            <to-view-id>/templates/default.xhtml</to-view-id>
        </navigation-case>
        <navigation-case>
            <from-outcome>error</from-outcome>
            <to-view-id>/templates/error.xhtml</to-view-id>
        </navigation-case>
    </navigation-rule>
        
</faces-config>
